<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intuitive.yummy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.intuitive.yummy.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.SearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.SearchResultsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.VendorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.MenuActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.VendorAdminAccountActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.VendorEditActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.ReadReviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.OrderConfirmationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.CartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.CustomerAccountActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.intuitive.yummy.webservices.RestService"
            android:enabled="true" />

        <activity
            android:name="com.intuitive.yummy.activities.VendorEditMenuItemActivity"
            android:label="@string/title_activity_vendor_edit_menu_item" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.VendorEditMenuActivity"
            android:label="@string/title_activity_vendor_edit_menu" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.MenuItemActivity"
            android:label="@string/title_activity_menu_item" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.PendingOrdersActivity"
            android:label="@string/title_activity_menu_item" >
        </activity>
        <activity
            android:name="com.intuitive.yummy.activities.OrderDetailActivity"
            android:label="@string/app_name" >
        </activity>
        </application>

</manifest>